{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": "cover 99.5%",
                "useBuiltIns": "usage"
            }
        ]
    ]
}