        <div class="card">
          <div class="card-header">
            {{ with .Params.modified }}
            <time class="post-date" datetime="{{ . | dateFormat "2006-01-02" | safeHTML }}">
              {{ . | dateFormat "January 2, 2006" }}
            </time>
            {{ end }}
            by THE OPENBVE PROJECT
          </div>
          <div class="card-body">
            <h2>
              <a href="{{ .URL }}">
                {{ .Title | markdownify }}
              </a>
            </h2>
            <p class="card-text">
              {{ .Content }}
            </p>
          </div>
        </div>
