        <div class="card">
          <div class="card-header">
            <time class="post-date" datetime="{{ .Date.Format "{{ .Params.modified }}" | safeHTML }}">
              {{ .Date.Month }} {{ .Date.Day }}, {{ .Date.Year }}
            </time>
            by THE OPENBVE PROJECT
          </div>
          <div class="card-body">
            <h2>
              <a href="{{ .URL }}">
                {{ .Title | markdownify }}
              </a>
            </h2>
            <p class="card-text">
              {{ .Content }}
            </p>
          </div>
        </div>
