          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Language
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ .RelPermalink }}">
                {{ .Language.LanguageName }}
              </a>
              {{ range .Translations }}
              <a class="dropdown-item" href="{{ .RelPermalink }}">
                {{ .Language.LanguageName }}
              </a>
              {{ end }}
            </div>
          </li>
