    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      {{ $currentPage := . }}
      {{ range first 1 .Site.Menus.header }}
      <a class="navbar-brand" href="{{ .URL | relLangURL }}">
      {{ end }}
        <img src="{{ .Site.BaseURL }}/images/logo.png" class="d-inline-block align-top" alt="" height="30" width="30">
        openBVE
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
      {{ range first 1 .Site.Menus.header }}
            <a class="nav-link" href="{{ .URL | relLangURL }}">
      {{ end }}
              Home<span class="sr-only">(current)</span>
            </a>
          </li>
      {{ range .Site.Menus.header }}
        {{ if ne .Name "Home" }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | relLangURL }}">
                {{ .Name }}
              </a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | relLangURL }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        {{ end }}
      {{ end }}
          {{ partial "language.html" . }}
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
